@import url('colors.css');
@import url('animations.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: calc(100vh - 80px);
    font-family: 'Open Sans', sans-serif;
    background-color: var(--gray-950);
    color: var(--text);
}

main {
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    nav {
        display: flex;
        justify-content: center;
        gap: 2em;
        padding: .5em 1em;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 1000px;

        &:hover {
            border: 1px solid rgba(255, 255, 255, 0.3);
        }
    }

    a {
        text-decoration: none;
        color: var(--gray-300);
    }

    .active,
    a:hover {
        color: var(--text);
    }
}

section {
    padding: 2em 5vw;
    padding-top: 80px;
    min-height: 100vh;

}

h2 {
    font-size: 2em;
    margin-bottom: 1.25em;
    letter-spacing: 1px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;

    p {
        max-width: 700px;
        text-indent: 2em;
        margin: 1em 0;
        line-height: 1.5;
    }

    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;

        img {
            width: 300px;
        }

        figcaption {
            color: var(--gray-300);
            font-size: .9em;
            display: flex;
            gap: .5em;
        }

        &:hover figcaption {
            color: var(--text);
        }
    }
}

.inicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;

    .blur-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), transparent);
        filter: blur(8px);
        z-index: -1;
    }

    .title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: .5em;

        h1 {
            font-size: 3em;

            span {
                color: var(--discord-blue);
                animation: alternateToRed 10s infinite ease;
            }
        }

        h3 {
            font-weight: 300;
            font-size: 1.5em;
            color: var(--gray-400);
        }
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            fill: var(--discord-blue);
            height: 200px;
            box-shadow: 0 0 24px 4px var(--discord-blue);
            border-radius: 48px;
            padding: .5em;
            transition: all 0.2s ease;
            animation: alternateToRed 10s infinite ease, alternatingShadow 10s infinite ease, floating 10s infinite ease;

            &:hover {
                scale: 1.03;
            }
        }
    }
}

.introducao {
    background-color: var(--off-main);
}

.exclusao {
    background-color: var(--offer-main);
    text-align: right;

    article {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .grid-container {
        grid-template-columns: 1fr 2fr;
    }
}

.maleficios {
    background-color: var(--red-section);
    text-align: center;

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        position: relative;

        i {
            color: var(--red-transparent);
            position: absolute;
            font-size: 300px;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            z-index: 0;
            pointer-events: none;
        }
    }
}

.conclusao {
    background-image: linear-gradient(var(--black-gradient));
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 130px;

    img {
        position: absolute;
        width: 150px;
        bottom: 0;
        left: 5vw;
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50% -50%;
        font-weight: 300;
        font-size: 0.85em;
    }
}

.maleficios p,
.conclusao p {
    max-width: 700px;
    text-indent: 2em;
    margin: 1em 0;
    line-height: 1.5;
    z-index: 1;
}

.initial-animation {
    animation: showUp 1500ms ease 1 forwards;
}

.observed {
    opacity: 0;
}
.popIn {
    animation: popIn 1000ms ease 1 forwards;
}


@media (max-width: 950px) {
    .inicio {
        .title {
            h1 {
                font-size: 2.25em;
            }
            h3 {
                font-size: 1.25em;
            }
        }
    }
    .logo svg {
        height: 120px !important;
        padding: 1em !important;
    }
    #wumpus {
        width: 200px;
    }
}

@media (max-width: 600px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .inicio {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 3em;
        text-align: center;
    }
    header nav {
        gap: 1em;
    }
}

/* Navbar responsiva */
nav i {
    display: none;
}

@media (max-width: 500px) {
    
    header {
        justify-content: flex-start;
        margin: 0 5vw;
    }
    nav{
        flex-direction: column;
        position: absolute;
        top: 25%;
        border-radius: 12px !important;
        transition: all 0.2s ease;
        max-height: 50px;
        overflow: hidden;
        justify-content: flex-start !important;
        align-items: center;

        i {
            display: block;
            font-size: 1.5em;
            z-index: 2;
        }

        a {
            transition: 0.2s ease all;
        }

        &.navShow {
            max-height: 500px;
        }
    }
}